
/* @import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;500;600;700&display=swap');
 */

:root{
    /* clamp(1.00rem, calc(-0.04rem + 5.22vw), 4.00rem); */
    /* --topmargin: clamp(1.00rem, calc(0.30rem + 3.48vw), 3.00rem); */
    --topmargin: clamp(1.00rem, calc(-0.33rem + 6.67vw), 3.00rem);
}
body{
    /* background-color: rgb(157, 32, 32); */
    background-color: black;
    background-color: #120321;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h2{
    font-size: 2rem;
    padding-bottom: .5rem;
}
/* h1{
    font-size: 2rem;
} */

 /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */  /*  */ 

.main{
    color:white;
    font-size: 1.125rem;
    /* padding-left: 1.125rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--topmargin);
    margin-left: 20px;
    margin-right: 20px;

   

}

.intro > p {
    min-width: 300px;
    max-width: 400px;
}

.intro > * {
    padding-bottom: 1rem;
}

.intro {
    padding-bottom: 1.5rem;
}

.relevant_links{
    color: white;
}

#project_button, #resume_button {
    background: none; 
    border: solid rgb(166, 137, 243) 2.5px; 
    color: var(--onyx);
    color:rgb(166, 137, 243);
    background-color: rgb(166, 137, 243);
    background-color: #120321;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
}

#project_button:hover, #resume_button:hover  {
    color:white;
    border: solid white 2.5px; 

}

.main_right_col{
    display: none;
}

#project_button, #resume_button {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}



@media screen and (min-width: 801px) {
/* 
    a{
        font-size: 30px;
    } */

    .main{
        gap: 40px;
        margin-top: 50px;
    }

    .intro img{
        display: none;
    }

    .main_right_col {
        display: initial;
        
    }
    .main_right_col img{
        width: 200px;

    }

    .intro{
        /* background-color: rgb(166, 137, 243); */
        background-color: transparent;
        padding-top: 35px;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        
        /* border-radius: 10px; */
    }

    .relevant_links{
        /* background-color: rgb(166, 137, 243);
        color: var(--onyx);
        padding-top: 25px;
        padding-left: 35px; */
        /* padding-right: 15px; */
        /* border-radius: 10px;
        padding-bottom: 25px; */
    }


}

