
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;500;600;700&display=swap'); */
/* :root{
    --onyx: #1A2421;
    --onyx: #1A1110;
    --onyx: #2B1B17;
    --onyx: #362819; 
    --onyx: #010127;
} */

path {
    /* fill: rgb(166, 137, 243); */
    fill: white;
    /* fill: rgb(166, 137, 243); */
}

body{
    background-color: #120321;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

header{
    font-size: 1.25rem;
}

.project_card{
    display: flex;
    justify-content: center;
    margin-top: 50px;    
}

.project_left_column{
    max-width: 1000px;
    border-radius: 20px;
    background-color: var(--onyx);
    border: 10px solid var(--onyx);
    /* padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; */

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    /* border: 2px rgb(166, 137, 243) solid; */
}

.project_left_column header {
    padding: 0px 10px;
}

.project_left_column p{
    padding: 0px 10px;
    padding-bottom: 15px;
}

.project_left_column div{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.project_left_column > p{
    max-width: 500px;
}

.project_left_column > *{
    margin-bottom: 1rem;
}

.project_right_column{
    display: none;
}




/* @media screen and (min-width: 500px) {

}

@media screen and (min-width: 375px) {

} */

