/* Variables */

:root {
    --color-background: #000;
    --color-text: white;
    --navbar-grow: clamp(1.50rem, calc(0.50rem + 2.00vw), 1.75rem);
    --onyx:#001330;
    /* --onyx:black; */
}

@font-face {
    font-family: 'Capricus Halftone';
    src: url(fonts/CapricusHalftone.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{ font-size: 2rem;}
h2 { font-size: 1.5rem;}
hr{color: white;}
hr{color:rgb(166, 137, 243);}

.gradient_text{
    color: rgb(166, 137, 243);
    /* color: #7fa8e5; */
    /* color: #96c0ff; */
}

/* .gradient_text{ */
    /* text-shadow: 4px 4px #6e0b00; */

    /* text-shadow: 5px 5px  var(--onyx); */
    /* color: var(--onyx); */


    /* background: rgb(26,36,33);
    background: linear-gradient(0deg, rgba(26,36,33,1) 0%, rgba(96,129,119,1) 68%, rgba(26,36,33,1) 100%);  */

    /* background: rgb(54,40,25);
    background: linear-gradient(0deg, rgba(54,40,25,1) 0%, rgba(90,72,53,1) 68%, rgba(54,40,25,1) 100%); 

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
/* } */


/* NAVIGATION */
nav{
    /* border: 1px solid white; */
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: var(--navbar-grow);
}

nav ul{
    /* border: 1px solid white; */
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

nav a{
    font-family: 'Capricus Halftone', 'Roboto';
    color: var(--color-text);
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    /* display: block; */
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

 /* "When the screen width is at most 650px pixels wide, do the following... " */

@media screen and (max-width: 800px) {

    /* if media query had said min-width: 650px, you would want to read it as:*/

    /* "When the screen width is at least 650px pixels wide, do the following... " */

    nav{
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0 0;          
        width: 100%;
        min-height: 45px;
    }

  
    nav ul{
        display: none;
        flex-direction: column;
    }

    nav ul li{
        border: 1px solid white;
        width: 100%;
        padding: 10px 0px; /*adds padding to top and bottom*/
        display: flex;
        justify-content: center;  
    }

    nav ul li a{
        font-family: 'Capricus Halftone', 'Roboto';
        color: white;
        text-decoration: none;
        /* font-size: 24px; */
        /* font-size: 1.5rem; */
    }

    #navbarLinks.active{
        display: flex;
    }

    .toggle-button{
        display: flex;
    }

    /* .intro{
        padding-top: 15px;
    } */
    /* .intro > *, .relevant_links>*{
        padding-top: 15px;
        padding-left: 25px;
        padding-right: 25px;
    } */

    /* .main_left_col{
        max-width: 480px;
    } */

    /* .main{
        justify-content: center;
    } */

}


/* NAVIGATION */


